{{> header}}

<main>
	{{#each Home}}
		<div class="person">
			<p><a target="_blank" href="http://maps.google.com/maps?q={{latitude}},{{longitude}}">Home</a></p>
			<p>
				Latitude: {{latitude}}
			</p>
			<p>
				Longitude: {{longitude}}
			</p>
		</div>
	{{/each}}
	{{#each Locations}}
		<div class="person">
			<p>
				Location: <a target="_blank" href="http://maps.google.com/maps?q={{latitude}},{{longitude}}">{{location}}</a>
			</p>
			<p>
				Latitude: {{latitude}}
			</p>
			<p>
				Longitude: {{longitude}}
			</p>
			<p>
				Description: {{description}}
			</p>
			<p>
				Distance: {{distance}}
			</p>
		</div>
	{{/each}}
</main>

{{> add-photo-modal}}
