{{> header}}

<main>
   {{#each Location}}
      <div class="person">
         <p>
            Location: {{location}}
         </p>
	 <p>
	    Latitude: {{latitude}}
	 </p>
	 <p>
	    Longitude: {{longitude}}
 	 </p>
	 <p>
	    Description: {{description}}
	 </p>
	 <p>
	    Distance: {{distance}}
	 </p>
      </div>
  {{/each}}
</main>
